body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.export-quizlet {
	text-decoration: none;
	color: #4257b1;
}

.export-quizlet:visited {
	color: #4257b1;
}

.game {
	display: flex;
	height: 100vh;
	/* background-color: #006994; */
}

.team {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-group {
	height: 50%;
}

.swimming {
	border: 3px solid lightgreen !important;
}
.sinking {
	border: 3px solid deeppink !important;
}

.footer {
	margin-top: 30px;
	border-top: 2px solid black;
	padding-top: 12px;
}
